<!-- 
  File name: about.ejs
  Student Name: Son Vu
  Student ID: 301366093
  Date: 29 Sep
-->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <h1 class="about-header">About Ngoc Ha</h1>
            <div class="about-container">
                <div class="about-content">
                    <p>My name is Ngoc Ha, a.k.a Bong</p>
                    <p>Ngoc Ha yeu gia dinh yeu ban be hoc gioi biet quan li tai chinh nhung chua co tinh dau</p>
                    <a href="/resume.pdf" target="_blank" class="resume">Download My Resume</a>
                </div>
                <div class="about-img">
                    <img src="/images/ngocha2.jpg" class="NgocHa2">
                </div>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>