<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <h1 class="project-header">My Projects</h1>
        <div class="project-container">
            <div class="project">
                <h2>Calculator App</h2>
                <img src="/images/Calculator.png" alt="Project 1">
                <p>A desktop calculator application built using C# in Windows Forms. 
                    This project allows users to perform basic arithmetic operations in a simple, intuitive interface.</p>
                    <p><strong>Language:</strong>C#</p>
                    <p><strong>Software:</strong>Visual Studio Code</p>
                </ficaption>
            </div>
            <div class="project">
                <h2>Real Estate Website</h2>
                <img src="/images/RealEstate.png" alt="Project 2">
                <p>A responsive real estate website highlights my skills in front-end development and responsive design.
                    This project showcases property listings with a modern, user-friendly layout.</p>
                <p><strong>Language:</strong>HTML/CSS</p>
                <p><strong>Software:</strong>Visual Studio Code</p>
            </div>
            <div class="project">
                <h2>Shopping Website</h2>
                <img src="/images/ShoppingForm.png" alt="Project 3">
                <p>A user-friendly shopping form allows users to enter their shipping and billing information with real-time validation.
                    This project highlights my skills in form design and client-side scripting to enhance user interaction.</p>
                    <p><strong>Language:</strong>HTML/CSS and JavaScript</p>
                    <p><strong>Software:</strong>Visual Studio Code</p>
            </div>
        </div>
        
        <%- include('partials/footer') %>
    </body>

</html>