<!-- 
  File name: services.ejs
  Student Name: Son Vu
  Student ID: 301366093
  Date: 29 Sep
-->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <h1 class="service-header">Services</h1>
            <div class="service-content">
                <figure>
                    <img src="./images/GameDevelopment.png" alt="GameDev" width="400px" height="auto"></img>
                    <figcaption>
                        <h2>Game Development</h2>
                        <p>Crafting immersive and interactive video games using various programming languages like C#, Javascript,
                             design, and animation skills across various platforms.</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="./images/Webdevelopment.jpeg" alt="WebDev" width="400px" height="auto"></img>
                    <figcaption>
                        <h2>Web Development</h2>
                        <p>Building responsive and visually appealing websites by leveraging front-end and back-end technologies
                             for user-friendly experiences.</p>
                    </figcaption>
                </figure>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>
